*,*::before,*::after{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    background-color: #000;
    font-family: "Roboto",sans-serif;
    margin: 0;
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card{
    display: flex;
    border-radius: 8px;
    box-shadow: rgba(14, 6, 129, 0.56) 0px 12px 30px 12px;
}

.card .container-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: #ffff;
    background: linear-gradient(180deg, rgb(7, 7, 7), rgb(55, 24, 165));
    padding-left: 2rem;
    padding-right: 3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card .container-label span{
    background-color: #ffff;
    margin-top: 2px;
    height: 3px;
    width: 48px;

}
.card .container-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
}

.card .container-icon .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: linear-gradient(180deg, rgb(37, 27, 30), rgb(49, 19, 129));
    height: 48px;
    width: 48px;
    border: 50%;

}
.card .container-icon .circle i{
    color: #ffff;
    font-size: 1.25rem;
    font-weight: 900;
}
.card .container-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(9, 37, 129);
    background: #e0e0e0;
    padding: 5rem;
    width: 450px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}
.card .container-form label{
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}
.card .container-form input{
    color: rgb(30, 18, 99);
    background-color: transparent;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
}
.card .container-form input:focus{
    border-color: rgba(53, 40, 173, 0.322);
    outline: 0;
}
.card .container-form input::placeholder{
    color: rgb(23, 16, 109);
}
.card .container-form #email{
    margin-bottom: 1.75rem;
}

.card .container-form button{
    color: #ffff;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgb(37, 27, 30), rgb(49, 19, 129));
    padding: 12px 16px;
    margin-top: 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
@media (max-width:768px){
    .container{
        padding: 1rem;
    }
    .card{
        flex-direction: column;
        width: 100%;
    }
    .card::before{
        display: none;
    }
    .card::after{
        display: none;
    }
    .card .container-label{
        padding: 3rem 2rem;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }
    .card .container-icon{
        display: none;
    }
    .card .container-form form{
        padding: 3rem 2rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        width: auto;
    }
}